/**DESKTOP***/
.section-grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
}
.navBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/**TABLET***/
@media (max-width: 768px){

    .section-grid{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(5,1fr);
    }
    .navBar{
        justify-content: center flex-end;
    }



}




/**MOBILE**/
@media (max-width:576px){

    .section-grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8,1fr);
    }

    .navBar{
        flex-direction: column;
        justify-content: center;
    }




}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/**
font-family: 'Alkalami', serif;
font-family: 'Open Sans', sans-serif;

*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/** 1rem = 16px
    1rem= 10px
    22px = 2.2rem

**/
html{
    font-size: 62.5%;
}



header{
    font-family: 'Alkalami', serif;
    display: flex;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3.0rem;
    grid-column: 5 / 10;
    grid-row: 5 / 6;
}
header p{
    font-family:'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2.0rem;
}
.inicio{
    padding: 10px;
    border: 2px solid black;
    margin: 5px;
    color: rgb(255, 51, 0);
}
.navBar{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 2.5rem;
    margin-top: 10px;
}
.navBar li a{
    text-decoration: none;
    color: rgb(255, 0, 0);
}
.navBar li a:hover{
    color: darkorange;
}
.banner{
    background-image: url("../img/halo.jpg");
    height: 700px;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    color: aliceblue;
}

.footer{
    background-color: rgb(214, 68, 0);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
}
.contactos{
    grid-column: 1/2;
}
.redes-2{
grid-column: 3/4;
}

.banner2{
    background-image: url(../img/halo.jpg);
    height: 400px;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
}
